@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}
@layer components {
  .container {
    @apply mx-auto px-4 py-[80px] mt-[40px] lg:w-[80%] sm:w-[90%] bg-white rounded;
  }
}
code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.react-datepicker__input-container input {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #e5e7eb !important;
  padding-left: 10px !important;
}
